/** CSSLint needs to have at least one class declaration **/
html {
  text-align: auto; }


// mixins
@mixin keyframes($name) {
  @-webkit-keyframes #{$name} {
    @content;
  }
  @-moz-keyframes #{$name} {
    @content;
  }
  @keyframes #{$name} {
    @content;
  }
}

@mixin transform($valueTransform) {
  -webkit-transform: $valueTransform;
  -moz-transform: $valueTransform;
  transform: $valueTransform;
}

@mixin animation($anim) {
    -webkit-animation: $anim;
    -moz-animation: $anim;
    animation: $anim;
}


/** ============================================================== **/
/** Animation KeyFrames **/
/** ============================================================== **/

@mixin keyframes($name) {
  @-webkit-keyframes #{$name} {
    @content;
  }
  @-moz-keyframes #{$name} {
    @content;
  }
  @keyframes #{$name} {
    @content;
  }
}

@mixin transform($valueTransform) {
  -webkit-transform: $valueTransform;
  -moz-transform: $valueTransform;
  transform: $valueTransform;
}

@mixin transform-origin($valueTransformOrigin) {
  -webkit-transform-origin: $valueTransformOrigin;
  -moz-transform-origin: $valueTransformOrigin;
  transform-origin: $valueTransformOrigin;
}

@include keyframes(rotation){
  from{@include transform(rotate(0deg)); @include transform-origin(50% 50%);}
  to{@include transform(rotate(360deg)); @include transform-origin(50% 50%);}
}

@include keyframes(bigwinPopupAnimation){
  0% {
    @include transform(scale(0.5)  rotate(180deg));
  }

  10% {
    @include transform(scale(1.0) rotate(0deg));
  }

  15% {
    @include transform(scale(1.1) rotate(0deg));
  }

  20% {
    @include transform(scale(1.0) rotate(0deg));
  }

  25% {
    @include transform(scale(1.1) rotate(0deg));
  }
  30% {
    @include transform(scale(1) rotate(0deg));
  }
  35% {
    @include transform(scale(1.1) rotate(0deg));
  }
  40% {
    @include transform(scale(1) rotate(0deg));
  }
  45% {
    @include transform(scale(1.1) rotate(0deg));
  }
  50% {
    @include transform(scale(1) rotate(0deg));
  }
  55% {
    @include transform(scale(1.1) rotate(0deg));
  }
  60% {
    @include transform(scale(1) rotate(0deg));
  }
  65% {
    @include transform(scale(1.1) rotate(0deg));
  }
  70% {
    @include transform(scale(1) rotate(0deg));
  }
  75% {
    @include transform(scale(1.1) rotate(0deg));
  }
  80% {
    @include transform(scale(1) rotate(0deg));
  }
  85% {
     @include transform(scale(1.1) rotate(0deg));
   }
  90% {
    @include transform(scale(1) rotate(0deg));
  }
  100% {
    @include transform(scale(0.5) rotate(-180deg));
  }
}

@include keyframes(bigwinPopupTextAnimation){
  0% {
    @include transform(scale(0.5));
  }

  10% {
    @include transform(scale(1.0));
  }

  15% {
    @include transform(scale(1.2));
  }

  20% {
    @include transform(scale(1.0));
  }

  25% {
    @include transform(scale(1.2));
  }
  30% {
    @include transform(scale(1));
  }
  35% {
    @include transform(scale(1.2));
  }
  40% {
    @include transform(scale(1));
  }
  45% {
    @include transform(scale(1.2));
  }
  50% {
    @include transform(scale(1) );
  }
  55% {
    @include transform(scale(1.2));
  }
  60% {
    @include transform(scale(1));
  }
  65% {
    @include transform(scale(1.2));
  }
  70% {
    @include transform(scale(1));
  }
  75% {
    @include transform(scale(1.2));
  }
  80% {
    @include transform(scale(1));
  }
  85% {
    @include transform(scale(1.2));
  }
  90% {
    @include transform(scale(1));
  }
  100% {
    @include transform(scale(0.5));
  }
}

@include keyframes(particlesAnimation) {
  1% { background-position: 0 0; opacity: 1;}
  2% { background-position: -12.6em 0; opacity: 1; }
  4% { background-position: -25.2em 0;  opacity: 1;}
  6% { background-position: -37.8em 0;  opacity: 1;}
  8% { background-position: -50.4em 0;  opacity: 1;}
  10% { background-position: -63.0em 0;  opacity: 1;}
  12% { background-position: -75.6em 0;  opacity: 1;}

  14% { background-position:   0 -13.3em; opacity: 1; }
  16% { background-position: -12.6em -13.3em;  opacity: 1;}
  18% { background-position: -25.2em -13.3em;  opacity: 1;}
  20% { background-position: -37.8em -13.3em; opacity: 1; }
  22% { background-position: -50.4em -13.3em; opacity: 1; }
  24% { background-position: -63.0em -13.3em; opacity: 1; }
  26% { background-position: -75.6em -13.3em; opacity: 1; }
  28% { background-position: 0 0; opacity: 0;}
  100% { background-position: 0 0; opacity: 0;}
  }

@include keyframes(background-blink){
  0%{
    background-color: #FFFFFF;
    color: #00b38f;
    /*border-color:  #4ea916;*/
  }
  50%{
    background-color: #00b38f;
    color: #FFFFFF;
    /*border-color: #FFFFFF;*/
  }
  100%{
    background-color: #FFFFFF;
    color: #00b38f;
    /*border-color:  #4ea916;*/
  }
}



/*@include keyframes(particlesAnimation) {
  0% { background-position: 0 0; }
  7.14% { background-position: -12.6em 0; }
  14.28% { background-position: -25.2em 0; }
  21.42% { background-position: -37.8em 0; }
  28.56% { background-position: -50.4em 0; }
  35.7% { background-position: -63.0em 0; }
  42.84% { background-position: -75.6em 0; }

  49.98% { background-position:   0 -13.3em; }
  57.12% { background-position: -12.6em -13.3em; }
  64.26% { background-position: -25.2em -13.3em; }
  71.4% { background-position: -37.8em -13.3em; }
  78.54% { background-position: -50.4em -13.3em; }
  85.68% { background-position: -63.0em -13.3em; }
  100% { background-position: -75.6em -13.3em; }
}
*/

/*# sourceMappingURL=animations.scss.map */
.scratchZonesBasicAnimation {
    @include animation(mainExpand 0.25s linear 0.2s both);
}

.scratchZonesBonusAnimation {
    @include animation(bonusExpand 0.25s linear 0.283s both);
}

.scratchZonesTitleContainer {
    @include animation(slideDownSquish 0.333s linear 0.325s both);
}


@include keyframes(mainExpand) {
    from {
        @include transform(scale(0.3));
        opacity: 0.0;
    }
    to {
        @include transform(scale(1.0));
        opacity: 1.0;
    }
}

@include keyframes(bonusExpand) {
  from {
    @include transform(scale(0.45));
    opacity: 0.0;
  }
  to {
    @include transform(scale(1.0));
    opacity: 1.0;
  }
}

@include keyframes(slideDownSquish) {
    0% {
        opacity: 0.0;
        margin-top: -3em;
        // transform: scale(1.0, 1.0);
        @include transform(scale(1.0, 1.0));
    }
    62.5% {
        margin-top: 0;
        // transform: scale(1.2, 0.8);
        @include transform(scale(1.2, 0.8));
    }
    100% {
        opacity: 1.0;
        margin-top: 0;
        // transform: scale(1.0, 1.0);
        @include transform(scale(1.0, 1.0));
    }
}