@font-face {
    font-family:	"FuturaCondensedMedium";
    src:			url("/lib/Games/MillionFlaxScratchCard/fonts/FuturaCondensedMedium/futura-condensedmedium-webfont.eot");
    src:			url("/lib/Games/MillionFlaxScratchCard/fonts/FuturaCondensedMedium/futura-condensedmedium-webfont.eot?#iefix") format("embedded-opentype"),
              url("/lib/Games/MillionFlaxScratchCard/fonts/FuturaCondensedMedium/futura-condensedmedium-webfont.woff") format("woff"),
              url("/lib/Games/MillionFlaxScratchCard/fonts/FuturaCondensedMedium/futura-condensedmedium-webfont.ttf") format("truetype"),
              url("/lib/Games/MillionFlaxScratchCard/fonts/FuturaCondensedMedium/futura-condensedmedium-webfont.svg#FuturaCondensedMedium") format("svg");
    font-weight:	normal;
    font-style:		normal;
}
