/*END - mixins (functions)*/
/* background */
#game,
.info-page {
  background: #00405d;
  background: -webkit-linear-gradient(#00405d, #0092c8 44%, #00405d);
  background: linear-gradient(#00405d, #0092c8 44%, #00405d); }

/* Re styling the balace info */
.main-game-bar .balance-info {
  color: white; }

/* Re styling the balace info on game scene, only put these lines if the balance colour are different for each Skin */
/* Re styling the button template */
.buttonDefault {
  background-color: #00b38f;
  border-radius: 3em;
  height: 2.5em;
  line-height: 2.5em;
  width: 7em;
  border: 0.15em solid white; }

.buttonDefault p {
  font-size: 180%; }

.buttonDefault:active,
.buttonDefault:hover {
  background-color: #33e1be; }

/* Restyling the purchase scene "buy" button */
#purchase-button {
  background-color: #00b38f;
  width: 8em;
  height: 2.9em;
  box-shadow: none;
  border: 0.25em solid white;
  line-height: 2.9em; }

/* Restyling the purchase scene ticket price, also change the font size on the ticket price if needed */
#purchase-ticket-price {
  top: 14em;
  left: 0em;
  border: 0.3em solid white;
  background-color: black; }

#purchase-ticket-price p {
  font-size: 2.35em; }

.Desktop #purchase-themes {
  margin-left: -9em; }
  .Desktop #purchase-themes .purchase-card {
    width: 24em;
    height: 17.1em;
    background-size: 24em;
    box-shadow: 0.5em 0.5em 0.8em rgba(0, 0, 0, 0.5); }
  .Desktop #purchase-themes .purchase-card.skin-1 {
    top: 0.5em;
    left: -60%;
    -webkit-transform: rotate(-15deg);
    -moz-transform: rotate(-15deg);
    -o-transform: rotate(-15deg);
    transform: rotate(-15deg); }
  .Desktop #purchase-themes .purchase-card.skin-3 {
    top: 0.5em;
    left: 60%;
    -webkit-transform: rotate(15deg);
    -moz-transform: rotate(15deg);
    -o-transform: rotate(15deg);
    transform: rotate(15deg); }
  .Desktop #purchase-themes #purchase-ticket-price {
    left: -2em; }

/* Restyling the selection scene title text */
#selection-title-text {
  color: white; }

.selectionLogo {
  display: block;
  width: 10em;
  height: 10em;
  margin: 0 auto 1em;
  background-size: 10em 10em;
  background-repeat: no-repeat;
  margin-top: -3em; }

.selection-card {
  box-shadow: 0.7em 0.7em 0.7em rgba(0, 0, 0, 0.5); }

.Desktop .selection-card.skin-1 {
  -webkit-transform: rotate(-15deg);
  -moz-transform: rotate(-15deg);
  -o-transform: rotate(-15deg);
  transform: rotate(-15deg); }
.Desktop .selection-card.skin-3 {
  -webkit-transform: rotate(15deg);
  -moz-transform: rotate(15deg);
  -o-transform: rotate(15deg);
  transform: rotate(15deg); }

/* Re styling the info page */
.info-page .page-title {
  background-color: #00b38f; }

.info-page .item-content {
  background-color: #ffffff;
  color: #000000;
  font-size: 1.25em;
  font-family: "FuturaCondensedMedium"; }

.info-page,
.info-page .item-content H1 {
  color: #00b38f; }

.info-page .info-item.howtoplay .item-content {
  padding: 1em 0.5em; }

.info-page .info-content .item-title {
  color: #00b38f; }

.info-page .subtitle {
  color: #3c591c;
  font-size: 1.4em;
  font-family: "FuturaBoldCondensedBT"; }

.info-page .howtoplay-title-text::before,
.info-page .paytable-title-text::before {
  background-color: #00b38f;
  color: #ffffff; }

.info-page .payoutTable .payoutItem {
  color: #000000;
  border: none; }

.info-page .payoutTable .payoutItem:nth-child(odd) {
  background-color: #0091c7; }

.info-page .payoutTable .payoutItem:nth-child(even) {
  background-color: #ffffff; }

.info-page .payoutTable .payoutItem.title {
  background-color: #00b38f;
  color: white; }

.info-page #howToPlayItemTitle,
.info-page #paytableItemTitle {
  color: white; }

.info-page .payoutItem.title > div:nth-child(1),
.info-page .prize-name {
  border-right: 1px solid #ffffff; }

.info-page .page-title, .info-page .item-title > P {
  text-align: center; }

.info-page .payoutItem > div {
  text-align: left; }

/* for info page symbols, add as needed */
/* Restyle maths info */
.mathsinfo {
  color: #ffffff; }

/* add priceLabel only if needed to show price Label, and add your own styling as needed.*/
.priceLabel {
  display: block; }

/** --------------------------------------------------------------------------------------------------------------- **/
/** ---                                                 GAME SCENE                                                  **/
/** --------------------------------------------------------------------------------------------------------------- **/
/* Adjust the size and position of the background crest image */
#purchase-scene,
#selection-scene,
#game-scene {
  background-repeat: no-repeat;
  background-position: 50% 50%;
  z-index: 0; }

/** Change the game_sprites_all.png image size accordingly  **/
.game-sprite {
  background-size: 32.7em 16.8em; }

/* Re adjust the size of the scratchZoneWrapper for the game scene. */
.scratchZonesWrapper {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 28em;
  height: 34em;
  margin-left: -14em;
  margin-top: -17em;
  font-size: 1.2em; }

.scratchZonesTitleContainer {
  width: 100%;
  height: 3.5em;
  position: absolute;
  top: 0.1em; }

.scratchZonesTitle {
  background-size: 22em 15.2em;
  width: 22em;
  height: 3.5em;
  margin: -1.1em auto; }

.scratchZonesContainer {
  margin: 0 auto;
  width: 100%;
  height: 35.1em; }

.scratchZoneBasicContainer {
  position: absolute;
  background-size: 28em 47.17em;
  width: 28em;
  height: 33em; }

#scratch-zone-basic {
  width: 24.2em;
  height: 17.85em;
  margin-left: 2em;
  margin-top: 1.8em; }

.scratchZoneBonusContainer {
  position: absolute;
  background-size: 28em 47.17em;
  background-position: -0.9em -34.5em;
  width: 24.6em;
  height: 12.3em;
  margin-left: 1.76em;
  margin-top: 19.3em; }

#scratch-zone-bonus {
  width: 24em;
  height: 10.39em;
  margin-left: 0.2em;
  margin-top: 0.6em; }

/* Restyling the scratch-all button */
.scratchAllButtonContainer {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 100%;
  height: 2.8em;
  margin-left: -50%;
  margin-top: 17em; }

.Desktop .scratchZonesWrapper {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 39.2em;
  height: 24.3em;
  margin-left: -19.6em;
  margin-top: -11.1em;
  font-size: 1.36em; }

.Desktop .scratchZonesTitle {
  background-size: 22em 15.2em;
  width: 22em;
  height: 3.5em;
  margin: -1.1em auto; }

.Desktop .scratchZonesContainer {
  margin: 0 auto;
  width: 39.2em;
  height: 24.3em; }

.Desktop .scratchZoneBasicContainer {
  position: absolute;
  background-size: 50.9em 24.3em;
  width: 39.2em;
  height: 24.3em; }

.Desktop #scratch-zone-basic {
  width: 27em;
  height: 20em;
  margin-left: 2.1em;
  margin-top: 1.9em; }

.Desktop .scratchZoneBonusContainer {
  position: absolute;
  background-size: 50.9em 24.3em;
  background-position: -39.7em 0;
  width: 11.2em;
  height: 24.3em;
  margin-left: 27.3em;
  margin-top: 0.8em; }

.Desktop #scratch-zone-bonus {
  width: 6.5em;
  height: 19.1em;
  margin-top: 1.5em;
  margin-left: 2.3em; }

/* Restyling the scratch-all button */
.Desktop .scratchAllButtonWrapper {
  left: 18.5em; }

.Desktop .scratchAllButtonContainer {
  margin-top: 14.5em; }

/** ============================================================== **/
/** Default Popup classes                                          **/
/** ============================================================== **/
/* update popup image size */
.popupDefault {
  width: 31.3em;
  height: 31.3em;
  margin-left: -15.65em;
  margin-top: -15.65em;
  border: none;
  background-repeat: no-repeat;
  background-size: 31.3em 31.3em;
  box-shadow: none; }

.popupDefault .popupButtonContainerDefault {
  bottom: 6.5em; }

/* Styling on popup fonts, remove if not needed*/
.popupDefault .popupDefaultFont {
  letter-spacing: -0.01em;
  line-height: 1em;
  font-size: 200%; }

.popupDefault .popupTitleDefault,
.popupDefault .popupTextDefault {
  font-family: "FuturaBoldCondensedBT";
  padding: 0;
  margin: 0; }

.popupDefault .popupTitleDefault {
  position: absolute;
  font-size: 4.2em;
  font-weight: normal;
  line-height: 1em;
  text-align: center;
  top: 2.2em;
  width: 100%;
  text-shadow: 0.1em 0.1em black, 0 0.1em black, -0.1em 0.1em black, -0.1em 0 black, -0.1em -0.1em black, 0 -0.1em black, 0.1em -0.1em black, 0.1em 0 black; }

.popupDefault .popupTextDefault {
  position: absolute;
  letter-spacing: -0.01em;
  font-size: 2.8em;
  font-weight: normal;
  width: 100%;
  text-align: center;
  z-index: 20;
  color: #5abbe7;
  text-shadow: 0.1em 0.1em black, 0 0.1em black, -0.1em 0.1em black, -0.1em 0 black, -0.1em -0.1em black, 0 -0.1em black, 0.1em -0.1em black, 0.1em 0 black; }

.popupDefault .popupContentDefault {
  width: 100%;
  height: 100%;
  top: 13.5em;
  display: table;
  text-align: center; }

#win-popup-content-container {
  padding: 0;
  top: 14em; }

/* Win Popup styling*/
.popupDefault .popupTextDefault.popupWinAmountText {
  color: #54cffc;
  font-size: 5em;
  top: 0.7em;
  text-shadow: 0.05em 0.05em #000000, 0 0.05em #000000, -0.05em 0.05em #000000, -0.05em 0 #000000, -0.05em -0.05em #000000, 0 -0.05em #000000, 0.05em -0.05em #000000, 0.05em 0 #000000; }

#win-popup-text-container-fill {
  color: white; }

/* win popup text */
body:not(.iPhone):not(.iPad).Chrome .popupDefault .popupTitleDefault, body:not(.iPhone):not(.iPad).Chrome .popupDefault .popupTextDefault, :not(.Desktop):not(.Safari).Chrome .popupDefault .popupTitleDefault, :not(.Desktop):not(.Safari).Chrome .popupDefault .popupTextDefault {
  text-shadow: none; }
body:not(.iPhone):not(.iPad).Chrome .popupDefault .popupTitleDefault.outline, :not(.Desktop):not(.Safari).Chrome .popupDefault .popupTitleDefault.outline {
  -webkit-text-stroke: 11pt #000000; }
body:not(.iPhone):not(.iPad).Chrome .popupDefault .popupTextDefault.outline, :not(.Desktop):not(.Safari).Chrome .popupDefault .popupTextDefault.outline {
  -webkit-text-stroke: 9pt #000000; }

#nowin-popup-content-container {
  left: 50%; }

#nowin-popup-text-container-fill,
#nowin-popup-text-container-outline {
  width: 5em;
  margin-left: -2.9em; }

.winPopupCoinShower {
  z-index: -1;
  width: 26em;
  height: 15.5em;
  background-size: 672em 15.5em;
  border-radius: 2.5em 2.5em 35em 35em; }

.winPopupCoinShowerContainer {
  top: 13em;
  left: 2.65em;
  width: 28.6em;
  height: 15.5em; }

.sunburst {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 58.75em;
  height: 58.75em;
  margin-left: -29.375em;
  margin-top: -29.375em;
  background-size: 58.75em 58.75em;
  -webkit-animation: rotation 10s 0s infinite linear forwards;
  -moz-animation: rotation 10s 0s infinite linear forwards;
  -o-animation: rotation 10s 0s infinite linear forwards;
  animation: rotation 10s 0s infinite linear forwards;
  opacity: 0.5; }

#bigwin-popup {
  width: 100%;
  height: 100%;
  visibility: hidden; }

.popupDefault .popupButtonContainerDefault {
  bottom: 4.5em; }

#bigwin-popup-content-container {
  padding: 0;
  top: 14.5em; }

#bigwin-popup .popupDefault .popupTextDefault.popupWinAmountText {
  top: 0.6em; }

#bigwin-popup.shown {
  visibility: visible; }

#bigwin-popup-wrapper.popupDefault {
  background-image: none;
  visibility: inherit; }

#bigwin-popup-wrapper .popupDefault {
  background-image: none;
  z-index: 1000; }

#bigwin-popup-bg {
  visibility: inherit;
  -webkit-transform-origin: 50% 50%;
  -moz-transform-origin: 50% 50%;
  -o-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  -webkit-animation: bigwinPopupAnimation 5s 0s infinite linear forwards;
  -moz-animation: bigwinPopupAnimation 5s 0s infinite linear forwards;
  -o-animation: bigwinPopupAnimation 5s 0s infinite linear forwards;
  animation: bigwinPopupAnimation 5s 0s infinite linear forwards; }

#bigwin-popup-title-container-outline,
#bigwin-popup-title-container-fill,
#bigwin-popup-text-container-outline,
#bigwin-popup-text-container-fill,
#bigwin-popup-winamount-container-outline,
#bigwin-popup-winamount-container-fill {
  -webkit-transform-origin: 50% 50%;
  -moz-transform-origin: 50% 50%;
  -o-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  -webkit-animation: bigwinPopupTextAnimation 5s 0s infinite linear forwards;
  -moz-animation: bigwinPopupTextAnimation 5s 0s infinite linear forwards;
  -o-animation: bigwinPopupTextAnimation 5s 0s infinite linear forwards;
  animation: bigwinPopupTextAnimation 5s 0s infinite linear forwards; }

#bigwin-popup-text-container-outline,
#bigwin-popup-text-container-fill {
  color: white; }

.particles {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 12.6em;
  height: 13.3em;
  margin-left: -6.3em;
  margin-top: -6.65em;
  background-size: 88.2em 26.6em;
  opacity: 0;
  z-index: 1000; }

#bigwin-particles-1 {
  margin-left: -15em;
  margin-top: -15em;
  -webkit-animation: particlesAnimation 5s 0s infinite steps(1);
  -moz-animation: particlesAnimation 5s 0s infinite steps(1);
  -o-animation: particlesAnimation 5s 0s infinite steps(1);
  animation: particlesAnimation 5s 0s infinite steps(1); }

#bigwin-particles-2 {
  margin-left: 15em;
  margin-top: -18em;
  -webkit-animation: particlesAnimation 5s 0.8s infinite steps(1);
  -moz-animation: particlesAnimation 5s 0.8s infinite steps(1);
  -o-animation: particlesAnimation 5s 0.8s infinite steps(1);
  animation: particlesAnimation 5s 0.8s infinite steps(1); }

#bigwin-particles-3 {
  margin-left: 0em;
  margin-top: -20em;
  -webkit-animation: particlesAnimation 5s 1s infinite steps(1);
  -moz-animation: particlesAnimation 5s 1s infinite steps(1);
  -o-animation: particlesAnimation 5s 1s infinite steps(1);
  animation: particlesAnimation 5s 1s infinite steps(1); }

#bigwin-particles-4 {
  margin-left: -25em;
  margin-top: 1em;
  -webkit-animation: particlesAnimation 5s 1.3s infinite steps(1);
  -moz-animation: particlesAnimation 5s 1.3s infinite steps(1);
  -o-animation: particlesAnimation 5s 1.3s infinite steps(1);
  animation: particlesAnimation 5s 1.3s infinite steps(1); }

#bigwin-particles-5 {
  margin-left: 11em;
  margin-top: 3em;
  -webkit-animation: particlesAnimation 5s 2s infinite steps(1);
  -moz-animation: particlesAnimation 5s 2s infinite steps(1);
  -o-animation: particlesAnimation 5s 2s infinite steps(1);
  animation: particlesAnimation 5s 2s infinite steps(1); }

#bigwin-particles-6 {
  margin-left: 4em;
  margin-top: 8em;
  -webkit-animation: particlesAnimation 5s 4.3s infinite steps(1);
  -moz-animation: particlesAnimation 5s 4.3s infinite steps(1);
  -o-animation: particlesAnimation 5s 4.3s infinite steps(1);
  animation: particlesAnimation 5s 4.3s infinite steps(1); }

#bigwin-particles-7 {
  margin-left: -10em;
  margin-top: 8em;
  -webkit-animation: particlesAnimation 5s 3s infinite steps(1);
  -moz-animation: particlesAnimation 5s 3s infinite steps(1);
  -o-animation: particlesAnimation 5s 3s infinite steps(1);
  animation: particlesAnimation 5s 3s infinite steps(1); }

#bigwin-particles-8 {
  margin-left: 8em;
  margin-top: 3em;
  -webkit-animation: particlesAnimation 5s 3.8s infinite steps(1);
  -moz-animation: particlesAnimation 5s 3.8s infinite steps(1);
  -o-animation: particlesAnimation 5s 3.8s infinite steps(1);
  animation: particlesAnimation 5s 3.8s infinite steps(1); }

#bigwin-particles-9 {
  margin-left: -20em;
  margin-top: -23em;
  -webkit-animation: particlesAnimation 5s 3.5s infinite steps(1);
  -moz-animation: particlesAnimation 5s 3.5s infinite steps(1);
  -o-animation: particlesAnimation 5s 3.5s infinite steps(1);
  animation: particlesAnimation 5s 3.5s infinite steps(1); }

#bigwin-particles-10 {
  margin-left: -17em;
  margin-top: -20em;
  -webkit-animation: particlesAnimation 5s 2.2s infinite steps(1);
  -moz-animation: particlesAnimation 5s 2.2s infinite steps(1);
  -o-animation: particlesAnimation 5s 2.2s infinite steps(1);
  animation: particlesAnimation 5s 2.2s infinite steps(1); }

#bigwin-particles-11 {
  margin-left: -16em;
  margin-top: -10em;
  -webkit-animation: particlesAnimation 5s 4.8s infinite steps(1);
  -moz-animation: particlesAnimation 5s 4.8s infinite steps(1);
  -o-animation: particlesAnimation 5s 4.8s infinite steps(1);
  animation: particlesAnimation 5s 4.8s infinite steps(1); }

#bigwin-particles-12 {
  margin-left: 7em;
  margin-top: -15em;
  -webkit-animation: particlesAnimation 5s 2.7s infinite steps(1);
  -moz-animation: particlesAnimation 5s 2.7s infinite steps(1);
  -o-animation: particlesAnimation 5s 2.7s infinite steps(1);
  animation: particlesAnimation 5s 2.7s infinite steps(1); }

#bigwin-particles-13 {
  margin-left: -23em;
  margin-top: -23em;
  -webkit-animation: particlesAnimation 5s 4.5s infinite steps(1);
  -moz-animation: particlesAnimation 5s 4.5s infinite steps(1);
  -o-animation: particlesAnimation 5s 4.5s infinite steps(1);
  animation: particlesAnimation 5s 4.5s infinite steps(1); }

#bigwin-particles-14 {
  margin-left: 12em;
  margin-top: 2em;
  -webkit-animation: particlesAnimation 5s 4.7s infinite steps(1);
  -moz-animation: particlesAnimation 5s 4.7s infinite steps(1);
  -o-animation: particlesAnimation 5s 4.7s infinite steps(1);
  animation: particlesAnimation 5s 4.7s infinite steps(1); }

#bigwin-particles-15 {
  margin-left: 15em;
  margin-top: -15em;
  -webkit-animation: particlesAnimation 5s 4.9s infinite steps(1);
  -moz-animation: particlesAnimation 5s 4.9s infinite steps(1);
  -o-animation: particlesAnimation 5s 4.9s infinite steps(1);
  animation: particlesAnimation 5s 4.9s infinite steps(1); }

/** --------------------------------------------------------------------------------------------------------------- **/
/** ---                                        Toolbar and Buttons                                                  **/
/** --------------------------------------------------------------------------------------------------------------- **/
/* Remove the Skin-2 and Skin-3 if there is only 1 skin */
.selectedItemContainer {
  background: -webkit-linear-gradient(left, white 55%, #00b38f 55%);
  background: -webkit-gradient(linear, left top, right top, color-stop(55%, white), color-stop(55%, white), color-stop(56%, white), color-stop(56%, #00b38f));
  background: -moz-linear-gradient(left, white 55%, #00b38f 55%);
  background: -ms-linear-gradient(left, white 55%, #00b38f 55%);
  background: -o-linear-gradient(left, white 55%, #00b38f 55%);
  background: linear-gradient(to right, white 55%, #00b38f 55%); }

.selectedItemContainer:hover {
  background: -webkit-linear-gradient(left, white 55%, #33e1be 55%);
  background: -webkit-gradient(linear, left top, right top, color-stop(55%, white), color-stop(55%, white), color-stop(56%, white), color-stop(56%, #33e1be));
  background: -moz-linear-gradient(left, white 55%, #33e1be 55%);
  background: -ms-linear-gradient(left, white 55%, #33e1be 55%);
  background: -o-linear-gradient(left, white 55%, #33e1be 55%);
  background: linear-gradient(to right, white 55%, #33e1be 55%); }

/*
.Skin-2 .selectedItemContainer {
    background: -webkit-linear-gradient(left, rgba(255, 255, 255, 1) 55%, #ee352a 55%);
    background: -webkit-gradient(linear, left top, right top, color-stop(55%, rgba(255, 255, 255, 1)), color-stop(55%, rgba(255, 255, 255, 1)), color-stop(56%, rgba(255, 255, 255, 1)), color-stop(56%,#ee352a));
    background: -moz-linear-gradient(left, rgba(255, 255, 255, 1) 55%, #ee352a 55%);
    background: -ms-linear-gradient(left, rgba(255, 255, 255, 1) 55%, #ee352a 55%);
    background: -o-linear-gradient(left, rgba(255, 255, 255, 1) 55%, #ee352a 55%);
    background: linear-gradient(to right, rgba(255, 255, 255, 1) 55%, #ee352a 55%);
}

.Skin-2 .selectedItemContainer:hover {
    background: -webkit-linear-gradient(left, rgba(255, 255, 255, 1) 55%, #f76430 55%);
    background: -webkit-gradient(linear, left top, right top, color-stop(55%, rgba(255, 255, 255, 1)), color-stop(55%, rgba(255, 255, 255, 1)), color-stop(56%, rgba(255, 255, 255, 1)), color-stop(56%, #f76430));
    background: -moz-linear-gradient(left, rgba(255, 255, 255, 1) 55%, #f76430 55%);
    background: -ms-linear-gradient(left, rgba(255, 255, 255, 1) 55%, #f76430 55%);
    background: -o-linear-gradient(left, rgba(255, 255, 255, 1) 55%, #f76430 55%);
    background: linear-gradient(to right, rgba(255, 255, 255, 1) 55%, #f76430 55%);
}

.Skin-3 .selectedItemContainer {
    background: -webkit-linear-gradient(left, rgba(255, 255, 255, 1) 55%, #a13295 55%);
    background: -webkit-gradient(linear, left top, right top, color-stop(55%, rgba(255, 255, 255, 1)), color-stop(55%, rgba(255, 255, 255, 1)), color-stop(56%, rgba(255, 255, 255, 1)), color-stop(56%,#a13295));
    background: -moz-linear-gradient(left, rgba(255, 255, 255, 1) 55%, #a13295 55%);
    background: -ms-linear-gradient(left, rgba(255, 255, 255, 1) 55%, #a13295 55%);
    background: -o-linear-gradient(left, rgba(255, 255, 255, 1) 55%, #a13295 55%);
    background: linear-gradient(to right, rgba(255, 255, 255, 1) 55%, #a13295 55%);
}

.Skin-3 .selectedItemContainer:hover {
    background: -webkit-linear-gradient(left, rgba(255, 255, 255, 1) 55%, #c54cb8 55%);
    background: -webkit-gradient(linear, left top, right top, color-stop(55%, rgba(255, 255, 255, 1)), color-stop(55%, rgba(255, 255, 255, 1)), color-stop(56%, rgba(255, 255, 255, 1)), color-stop(56%, #c54cb8));
    background: -moz-linear-gradient(left, rgba(255, 255, 255, 1) 55%, #c54cb8 55%);
    background: -ms-linear-gradient(left, rgba(255, 255, 255, 1) 55%, #c54cb8 55%);
    background: -o-linear-gradient(left, rgba(255, 255, 255, 1) 55%, #c54cb8 55%);
    background: linear-gradient(to right, rgba(255, 255, 255, 1) 55%, #c54cb8 55%);
}*/
/** --------------------------------------------------------------------------------------------------------------- **/
/** ---                                      PORTRAIT                                                **/
/** --------------------------------------------------------------------------------------------------------------- **/
/* Readjusting positioning for portrait mode */
@media screen and (orientation: portrait) {
  .purchaseLogo,
  .selectionLogo {
    margin: 0 auto -1.5em; }

  .purchaseLogo {
    margin-top: 3em; }

  #purchase-ticket-price {
    top: 20em;
    left: -2em;
    background-color: #00b38f; }

  .purchase-card.skin-1 {
    -webkit-transform: rotate(-15deg);
    -moz-transform: rotate(-15deg);
    -o-transform: rotate(-15deg);
    transform: rotate(-15deg); }

  .purchase-card.skin-3 {
    left: 0;
    top: -1em;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg); }

  .purchase-card.skin-2 {
    left: 3em;
    -webkit-transform: rotate(15deg);
    -moz-transform: rotate(15deg);
    -o-transform: rotate(15deg);
    transform: rotate(15deg); }

  #purchase-button {
    background-color: black;
    width: 10em; } }

/*# sourceMappingURL=layout.css.map */
